body {
  font-family: TBR-400;
  margin: 0 auto;
}
.header-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefefe;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: linear-gradient(to bottom, #fdfdfd 0%, #ffffff 100%),
  radial-gradient(at top center, #fdfdfd 0%, #fdfdfd 120%)#ffffff;
}
#header-logo {
  margin-left: 1.75vw;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#tbr-header {
  width: 40vw;
}
#tbr-header:hover {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
    -o-animation-name: pulse;
       animation-name: pulse;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
       animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
       animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
       animation-iteration-count: infinite;
}
#rightheader-box {
  margin: 1vw 1.75vw;
  width: 24vw;
}
#search-box {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#search-box input[type="text"] {
  background: #ffffff;
  border: 0.01vw solid #101010;
  font-family: TBR-700;
  font-size: 1.5vw;
  outline: none;
  padding: 0.5vw;
  width: 72%;
}
#search-box input::-webkit-input-placeholder {
  color: #111111;
  opacity: 1;
}
#search-box button[type="submit"] {
  background: #333333;
  border: 0.25vw solid #333333;
  -webkit-border-radius: 0.25vw;
     -moz-border-radius: 0.25vw;
          border-radius: 0.25vw;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5vw;
  outline: none;
  width: 5vw;
}
#search-box button[type="submit"]:active {
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}
#version-box {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111111;
  -webkit-border-radius: 0.25vw;
     -moz-border-radius: 0.25vw;
          border-radius: 0.25vw;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5vw 0;
}
#version-id {
  color: #fefefe;
  font-family: TBR-700;
  font-size: 1.75vw;
  padding: 0.25vw 0;
  position: relative;
  -webkit-user-select: none;
}
#version-box:active {
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}
#version-info {
  background-color: #111;
  -webkit-border-radius: 0.25vw;
     -moz-border-radius: 0.25vw;
          border-radius: 0.25vw;
  color: #ffffff;
  cursor: context-menu;
  font-family: TBR-400;
  font-size: 1.1vw;
  padding: 0.5vw;
  position: absolute;
  right: -17.5%;
  text-align: center;
  top: 120%;
  visibility: hidden;
  width: 24vw;
  z-index: 1;
}
#version-info::after {
  border-color: transparent transparent #111 transparent;
  border-style: solid;
  border-width: 0.25vw;
  bottom: 100%;
  content: "";
  left: 50%;
  margin-left: -0.25vw;
  position: absolute;
}
.header-base {
  background: #101010;
  height: 0.75vw;
  position: relative;
  width: 100%;
  z-index: -1;
}
.footer-base {
  background: #101010;
  height: 0.75vw;
  width: 100%;
  z-index: -1;
}
.main-container {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#left-container {
  background: linear-gradient(to bottom, #000000 0%, #020202 100%),
  radial-gradient(at top center, #000000 0%, #020202 120%)#020202;
  width: 8vw;
}
#sidenav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5vw 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sidenav-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5vw 0;
  padding: 1vw;
}
.active-sidenav-menu {
  background: #cccccc;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5vw 0;
  padding: 1vw;
}
.sidenav-icons {
  color: #777777;
  font-size: 3vw;
  margin: 0.25vw auto;
  text-decoration: none;
}
.active-sidenav-icons {
  color: #111111;
  font-size: 4vw;
  margin: 0 auto;
  text-decoration: none;
}
.sidenav-label {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  color: #777777;
  font-family: TBR-700;
  font-size: 1vw;
  text-decoration: none;
}
.active-sidenav-label {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  color: #111111;
  font-family: TBR-900;
  font-size: 1vw;
  text-decoration: none;
}
.sidenav-menu:hover .sidenav-icons, .sidenav-menu:hover .sidenav-label {
  color: #eeeeee;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidenav-menu:active .sidenav-icons, .sidenav-menu:active .sidenav-label {
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}
.active-sidenav-menu:active .active-sidenav-icons, .active-sidenav-menu:active .active-sidenav-label {
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}
#center-container {
  background: linear-gradient(to bottom, #242425 0%, #262627 100%),
  radial-gradient(at top center, #242425 0%, #262627 120%)#262627;
  overflow: hidden;
  width: 66vw;
  margin-top: -1vw;
  padding-top: 1vw;
  -webkit-box-shadow: inset 0vw 0.3vw 0.3vw 0.3vw #171717;
  -moz-box-shadow: inset 0vw 0.3vw 0.3vw 0.3vw #171717;
  box-shadow: inset 0vw 0.3vw 0.3vw 0.3vw #171717;
}
#right-container {
  background: linear-gradient(to bottom, #5a5a5b 0%, #5c5c5d 100%),
  radial-gradient(at top center, #5a5a5b 0%, #5c5c5d 120%)#5c5c5d;
  overflow: hidden;
  width: 26vw;
}
.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.left-footer {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8vw;
}
#left-footer-top {
  background: linear-gradient(to bottom, #121213 0%, #141415 100%),
  radial-gradient(at top center, #121213 0%, #141415 120%)#141415;
  height: 8vw;
}
#left-footer-bot {
  background: linear-gradient(to bottom, #242425 0%, #262627 100%),
  radial-gradient(at top center, #242425 0%, #262627 120%)#262627;
  height: 8vw;
  position: relative;
}
#lfooter-logo {
  color: #000000;
  font-size: 5vw;
  left: 1.5vw;
  position: absolute;
  top: 1.5vw;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#lfooter-logo:hover {
  color: #eeeeee;
  -webkit-transform: scale(1.025);
     -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
       -o-transform: scale(1.025);
          transform: scale(1.025);
}
.center-footer {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66vw;
}
#cfooter-toplayer {
  background: linear-gradient(to bottom, #363636 0%, #383838 100%),
  radial-gradient(at top center, #363636 0%, #383838 120%)#383838;
  height: 8vw;
}
#cfooter-botlayer {
  background: linear-gradient(to bottom, #040404 0%, #060606 100%),
  radial-gradient(at top center, #040404 0%, #060606 120%)#060606;
  height: 8vw;
}
.cfooterbot-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#cfbot-left {
  overflow: hidden;
  position: relative;
}
#audacity-art {
  left: 0.75vw;
  position: absolute;
  top: 2.25vw;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#audacity-art:hover {
  -webkit-transform: scale(1.025);
     -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
       -o-transform: scale(1.025);
          transform: scale(1.025);
}
#boosted-tracks {
  bottom: 0.5vw;
  color: #eeeeee;
  font-family: TBR-400;
  font-size: 1.75vw;
  left: 6.5vw;
  position: absolute;
}
#copyright-symbol {
  font-size: 2.75vw;
  left: 4.1vw;
  position: absolute;
  top: -0.25vw;
}
#cfbot-center {
  margin: 1vw 1vw 1vw 2vw;
  position: relative;
}
.footer-links {
  color: #eeeeee;
  font-family: TBR-700;
  font-size: 1.25vw;
  position: absolute;
  right: 20.25vw;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer-links:hover {
  color: #ffffff;
  font-size: 1.3vw;
}
#footer-about {
  top: 0.5vw;
}
#footer-contact {
  top: 2.5vw;
}
#footer-contribute {
  top: 4.5vw;
}
#tbr-footer {
  left: 6vw;
  opacity: 0.75;
  position: absolute;
  top: 1vw;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#footer-copyright {
  color: #777777;
  font-family: TBR-900;
  font-size: 1vw;
  left: 6vw;
  position: absolute;
  top: 4vw;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#cfbot-center:hover #tbr-footer {
  -webkit-transform: scale(1.025);
     -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
       -o-transform: scale(1.025);
          transform: scale(1.025);
}
#cfbot-right {
  position: relative;
}
#created-with {
  color: #eeeeee;
  font-family: TBR-700;
  font-size: 1.75vw;
  position: absolute;
  right: 0.75vw;
  top: 2vw;
}
#vscode-logo {
  bottom: 1vw;
  position: absolute;
  right: 0.75vw;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#vscode-logo:hover {
  -webkit-transform: scale(1.025);
     -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
       -o-transform: scale(1.025);
          transform: scale(1.025);
}
.right-footer {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26vw;
}
#right-footer-top {
  background: linear-gradient(to bottom, #a8a8a8 0%, #aaaaaa 100%),
  radial-gradient(at top center, #a8a8a8 0%, #aaaaaa 120%)#aaaaaa;
  height: 8vw;
}
#right-footer-bot {
  background: #505050;
  height: 8vw;
  position: relative;
}
#hosted-on {
  color: #000000;
  font-family: TBR-700;
  font-size: 2vw;
  left: 0.5vw;
  position: absolute;
  top: 0.9vw;
}
#github-logo {
  bottom: 0.9vw;
  left: 0.5vw;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#github-logo:hover {
  -webkit-transform: scale(1.025);
     -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
       -o-transform: scale(1.025);
          transform: scale(1.025);
}
@-webkit-keyframes pulse {
  100% {-webkit-transform: scale(1.01);transform: scale(1.01);}
  100% {-webkit-transform: scale(0.99);transform: scale(0.99);}}
@-moz-keyframes pulse {
  100% {-moz-transform: scale(1.01);transform: scale(1.01);}
  100% {-moz-transform: scale(0.99);transform: scale(0.99);}}
@-o-keyframes pulse {
  100% {-o-transform: scale(1.01);transform: scale(1.01);}
  100% {-o-transform: scale(0.99);transform: scale(0.99);}}
@keyframes pulse {
  100% {-webkit-transform: scale(1.01);-moz-transform: scale(1.01);-o-transform: scale(1.01);transform: scale(1.01);}
  100% {-webkit-transform: scale(0.99);-moz-transform: scale(0.99);-o-transform: scale(0.99);transform: scale(0.99);}}
