body {
  font-family: TBR-400;
  margin: 0 auto;
}

.header-container {
  align-items: center;
  background: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#header-logo {
  margin-left: 1.75vw;
  outline: none;
  user-select: none;
}
#tbr-header {
  width: 40vw;
}
@-webkit-keyframes pulse {
  100% {-webkit-transform: scale(1.01);transform: scale(1.01);}
  100% {-webkit-transform: scale(0.99);transform: scale(0.99);}}
@keyframes pulse {
  100% {-webkit-transform: scale(1.01);-ms-transform: scale(1.01);transform: scale(1.01);}
  100% {-webkit-transform: scale(0.99);-ms-transform: scale(0.99);transform: scale(0.99);}}
#tbr-header:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#rightheader-box {
  margin: 1vw 1.75vw;
  width: 24vw;
}
#search-box {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#search-box input[type="text"] {
  background: #fefefe;
  border: 0.1vw solid #101010;
  font-family: TBR-400;
  font-size: 1.5vw;
  outline: none;
  padding: 0.5vw;
  width: 72%;
}
#search-box input::-webkit-input-placeholder {
  color: #5a5a5b;
  opacity: 1;
}
#search-box button[type="submit"] {
  background: #5a5a5b;
  border: 0.25vw solid #5a5a5b;
  border-radius: 0.25vw;
  color: #fefefe;
  cursor: pointer;
  font-size: 1.5vw;
  outline: none;
  width: 5vw;
}
#search-box button[type="submit"]:active {
  transform: translateY(2px);
}
#version-box {
  align-items: center;
  background: #101010;
  border-radius: 0.25vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0.5vw 0;
}
#version-id {
  color: #fefefe;
  font-family: TBR-700;
  font-size: 1.75vw;
  padding: 0.25vw 0;
  position: relative;
  -webkit-user-select: none;
}
#version-box:active {
  transform: translateY(2px);
}
#version-info {
  background-color: #111;
  border-radius: 0.25vw;
  color: #fefefe;
  cursor: context-menu;
  font-family: TBR-400;
  font-size: 1.1vw;
  padding: 0.5vw;
  position: absolute;
  right: -15%;
  text-align: center;
  top: 120%;
  visibility: hidden;
  width: 24vw;
  z-index: 1;
}
#version-info::after {
  border-color: transparent transparent #111 transparent;
  border-style: solid;
  border-width: 0.25vw;
  bottom: 100%;
  content: "";
  left: 50%;
  margin-left: -0.25vw;
  position: absolute;
}
.header-base {
  background: Black;
  height: 0.75vw;
  position: relative;
  width: 100%;
  z-index: -1;
}
.footer-base {
  background: Black;
  height: 0.75vw;
  width: 100%;
  z-index: -1;
}
.cc-container {
  align-items: center;
  background: #fefefe;
  border-top: 0.75vw solid #101010;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 3.25vw;
  justify-content: space-between;
  padding: 0.25vw 0;
  position: fixed;
  width: 100%;
}
#cc-policy {
  color: #101010;
  font-family: TBR-700;
  font-size: 1.3vw;
  margin: 0 2vw;
}
#cc-close {
  background: #101010;
  border-radius: 0.25vw;
  color: #fefefe;
  cursor: pointer;
  font-family: TBR-700;
  font-size: 1.25vw;
  margin: 0 0.5vw;
  padding: 0.75vw;
}
#cc-close:active {
  transform: translateY(2px);
}
.main-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#left-container {
  background: #000000;
  width: 8vw;
}
#sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 0.5vw 0;
}
.sidenav-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0.5vw 0;
  padding: 1vw;
  transition: all 0.2s ease-in-out;
}
.sidenav-label {
  align-self: center;
  color: #444444;
  font-family: TBR-700;
  font-size: 1vw;
}
.sidenav-icons {
  font-size: 3vw;
  color: #444444;
  margin: 0.25vw auto;
}
#center-container {
  background: #242425;
  overflow: hidden;
  width: 66vw;
}
#right-container {
  background: #5a5a5b;
  overflow: hidden;
  width: 26vw;
}
.footer-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.left-footer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 8vw;
}
#left-footer-top {
  background: #121213;
  height: 8vw;
}
#left-footer-bot {
  background: #242425;
  height: 8vw;
  position: relative;
}
#lfooter-logo {
  color: #000000;
  font-size: 5vw;
  left: 1.5vw;
  position: absolute;
  top: 1.5vw;
  transition: all 0.2s ease-in-out;
}
#lfooter-logo:hover {
  color: #eeeeee;
  transform: scale(1.025);
}
.center-footer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 66vw;
}
#cfooter-toplayer {
  background: #363636;
  height: 8vw;
}
#cfooter-botlayer {
  background: #040404;
  height: 8vw;
}
.cfooterbot-container {
  display: flex;
  flex-direction: row;
}
#cfbot-left {
  overflow: hidden;
  position: relative;
}
#audacity-art {
  left: 0.75vw;
  position: absolute;
  top: 2.25vw;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#audacity-art:hover {
  transform: scale(1.025);
}
#boosted-tracks {
  bottom: 0.5vw;
  color: #eeeeee;
  font-family: TBR-400;
  font-size: 1.75vw;
  left: 6.5vw;
  position: absolute;
}
#copyright-symbol {
  font-size: 2.75vw;
  left: 4.1vw;
  position: absolute;
  top: -0.25vw;
}
#cfbot-center {
  margin: 1vw 1vw 1vw 2vw;
  position: relative;
}
.footer-links {
  color: #dddddd;
  font-family: TBR-700;
  font-size: 1.25vw;
  position: absolute;
  right: 20.25vw;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.footer-links:hover {
  color: #ffffff;
  font-size: 1.3vw;
}
#footer-about {
  top: 0.5vw;
}
#footer-contact {
  top: 2.5vw;
}
#footer-contribute {
  top: 4.5vw;
}
#tbr-footer {
  left: 6vw;
  opacity: 0.75;
  position: absolute;
  top: 1vw;
  width: 16vw;
}
#footer-copyright {
  color: #777777;
  font-family: TBR-900;
  font-size: 1vw;
  left: 6vw;
  position: absolute;
  top: 4vw;
}
#cfbot-right {
  position: relative;
}
#created-with {
  color: #eeeeee;
  font-family: TBR-700;
  font-size: 1.75vw;
  position: absolute;
  right: 0.75vw;
  top: 2vw;
}
#vscode-logo {
  bottom: 1vw;
  position: absolute;
  right: 0.75vw;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#vscode-logo:hover {
  transform: scale(1.025);
}
.right-footer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 26vw;
}
#right-footer-top {
  background: #a8a8a8;
  height: 8vw;
}
#right-footer-bot {
  background: #505050;
  height: 8vw;
  position: relative;
}
#hosted-on {
  color: #000000;
  font-family: TBR-700;
  font-size: 2vw;
  left: 0.5vw;
  position: absolute;
  top: 0.9vw;
}
#github-logo {
  bottom: 0.9vw;
  left: 0.5vw;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 16vw;
}
#github-logo:hover {
  transform: scale(1.025);
}