@charset "UTF-8";

@font-face {
  font-family: "tbr-icons";
  src:url("../assets/fonts/tbr-icons/tbr-icons.eot");
  src:url("../assets/fonts/tbr-icons/tbr-icons.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/tbr-icons/tbr-icons.woff") format("woff"),
    url("../assets/fonts/tbr-icons/tbr-icons.ttf") format("truetype"),
    url("../assets/fonts/tbr-icons/tbr-icons.svg#tbr-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tbr-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tbr-"]:before,
[class*=" tbr-"]:before {
  font-family: "tbr-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tbr-logo:before {
  content: "\e000";
}
.tbr-emblem:before {
  content: "\e001";
}
.tbr-tracks:before {
  content: "\e002";
}
.tbr-shuffle:before {
  content: "\e003";
}
.tbr-archive:before {
  content: "\e004";
}
.tbr-about:before {
  content: "\e005";
}