.cc-container {
    -webkit-box-align: center;
  -webkit-align-items: center;
       -moz-box-align: center;
       -ms-flex-align: center;
align-items: center;
background: #fefefe;
border-top: 0.75vw solid #101010;
bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
height: 3.25vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.25vw 0;
    position: fixed;
    width: 100%;
}
#cc-policy {
color: #101010;
font-family: TBR-700;
font-size: 1.3vw;
margin: 0 2vw;
}
#cc-close {
background: #101010;
    -webkit-border-radius: 0.25vw;
       -moz-border-radius: 0.25vw;
            border-radius: 0.25vw;
color: #fefefe;
cursor: pointer;
font-family: TBR-700;
font-size: 1.25vw;
margin: 0 0.5vw;
padding: 0.75vw;
}
#cc-close:active {
    -webkit-transform: translateY(2px);
       -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
         -o-transform: translateY(2px);
            transform: translateY(2px);
}
#center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#track-otw-container {
    background: #3a3939;
    margin: 1vw 2vw 4vw;
    padding: 2vw;
    overflow: hidden;
    user-select: none;
    cursor: context-menu;
}
#totw-label {
    color: #ffffff;
    font-family: TBR-900;
    font-size: 3vw;
    
}
#time-info {
    color: #cccccc;
    font-family: TBR-400;
    width: 100%;
    margin: 1vw -2vw;
    padding: 0.5vw 2vw;
    font-size: 1vw;
    background: #302f2f;
}
#tracks-container {
    display: flex;
    flex-direction: row;
}
#lq-container {
    background: #222222;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15vw;
    height: 100%;
    position: relative;
    padding-bottom: 0.25vw;
}
#fetch-info {
    position: absolute;
    font-size: 1vw;
    text-align: center;
    background: #eeeeee;
    padding: 0.25vw;
    width: 10vw;
    opacity: 0.5;
    border-radius: 0 0 0.25vw 0;
    z-index: 1;
}
#lq-cover {
    height: 12vw;
    text-align: center;
}
#lq-cover-icon {
    color: #333333;
    font-size: 10vw;
    line-height: 12vw;
}
#lq-track-title {
    color: #cccccc;
    text-align: center;
    font-size: 1vw;
}
#play-pause-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw auto 1vw;
    width: 4vw;
    height: 4vw;
    border-radius: 3vw;
    background-color: #171717;
    text-align: center;
    cursor: pointer;
}
#play-pause-button i {
    color: #bbbbbb;
    font-size: 1.25vw;
}
#hq-container {
    display: flex;
    flex-direction: column;
    background: #111111;
    margin-left: 1vw;
    width: 42vw;
    padding: 1vw;
}
#hq-player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#album-art {
    margin: 0 1vw 1vw 0;
    height: 15vw;
}
#hq-track-info-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
#hq-track-single {
    color: #aaaaaa;
    font-family: TBR-400;
    margin: 1vw 0 0;
    font-size: 0.75vw;
}
#hq-track-title {
    color: #eeeeee;
    font-family: TBR-700;
    font-size: 3vw;
}
#hq-track-artist {
    color: #cccccc;
    font-family: TBR-400;
    font-size: 1.5vw;
}
#hq-info-divider {
    background: #777777;
    width: 100%;
    height: 0.10vw;
    margin: 1vw 0;
}
#hq-play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 0.5vw;
    bottom: 2vw;
    width: 10vw;
    height: 3vw;
    border: 0.1vw solid #999999;
    border-radius: 3vw;
    background: #999999;
    position: absolute;
    cursor: pointer;
}
#hq-play-button span {
    font-family: TBR-700;
    font-size: 1.25vw;
    color: #222222;
}
#hq-download-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    right: 0.5vw;
    bottom: 2vw;
    width: 12vw;
    height: 3vw;
    border: 0.1vw solid #999999;
    border-radius: 3vw;
    position: absolute;
}
#hq-download-button span {
    color: #999999;
    font-family: TBR-700;
    font-size: 1vw;
}
#audio-player-progress-container {
    margin: 1vw auto 0;
    height: 0.5vw;
    width: 40vw;
    background: #3a3939;
    border-radius: 2.5vw;
}
#audio-player-progress-bar {
    width: 0;
    background: #aaaaaa;
    height: 0.5vw;
}