.cc-container {
    -webkit-box-align: center;
  -webkit-align-items: center;
       -moz-box-align: center;
       -ms-flex-align: center;
align-items: center;
background: #fefefe;
border-top: 0.75vw solid #101010;
bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
height: 3.25vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.25vw 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}
#cc-policy {
color: #101010;
font-family: TBR-700;
font-size: 1.3vw;
margin: 0 2vw;
}
#cc-close {
background: #101010;
    -webkit-border-radius: 0.25vw;
       -moz-border-radius: 0.25vw;
            border-radius: 0.25vw;
color: #fefefe;
cursor: pointer;
font-family: TBR-700;
font-size: 1.25vw;
margin: 0 2vw 0 0.5vw;
padding: 0.75vw;
}
#cc-close:hover {
background: #323232;
}
#cc-close:active {
    -webkit-transform: translateY(2px);
       -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
         -o-transform: translateY(2px);
            transform: translateY(2px);
}
#center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#track-otm-container {
    background:  linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%),
    linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    margin: 1vw 2vw 2vw;
    padding: 2vw;
    overflow: hidden;
    user-select: none;
    cursor: context-menu;
}
#totm-label {
    color: #ffffff;
    font-family: TBR-900;
    font-size: 3vw;
}
#totm-timeframe {
    color: #eeeeee;
    font-family: TBR-400;
    width: 100%;
    margin: 1vw -2vw;
    padding: 0.5vw 2vw;
    font-size: 1vw;
    background: #242425;
}
#tracks-container {
    display: flex;
    flex-direction: row;
    padding-top: 1vw;
    margin-bottom: 1vw;
}
#lq-container {
    background: #171717;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15vw;
    height: 100%;
    padding-bottom: 0.25vw;
    opacity: 0.25;
    transition: all 0.2s ease-in-out;
}
#lq-container:hover {
    opacity: 0.99;
    -webkit-box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
    -moz-box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
    box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
}
#lq-container.lq-filter {
    opacity: 1;
    -webkit-box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
    -moz-box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
    box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
}
#fetch-info {
    position: absolute;
    font-size: 1vw;
    text-align: center;
    background: #ffffff;
    padding: 0.25vw;
    width: 10vw;
    opacity: 0.5;
    border-radius: 0 0 0.25vw 0;
    z-index: 1;
}
#lq-cover {
    height: 12vw;
    text-align: center;
}
#lq-cover-icon {
    color: #333333;
    font-size: 10vw;
    line-height: 12vw;
    transition: color 0.2s ease-in-out;
}
#lq-cover-icon.active {
    background: linear-gradient(to bottom, #656565 0%, #727272 40%, #3e3e3e 150%),
    linear-gradient(to top, #656565 0%, #3e3e3e 200%);
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: beats;
    -moz-animation-name: beats;
      -o-animation-name: beats;
         animation-name: beats;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
      -o-animation-duration: 0.33s;
         animation-duration: 0.33s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
         animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
}
@-webkit-keyframes beats {
    90% {-webkit-transform: scale(0.90);transform: scale(0.90);}
    100% {-webkit-transform: scale(1.05);transform: scale(1.05);}}
@-moz-keyframes beats {
    90% {-moz-transform: scale(0.90);transform: scale(0.90);}
    100% {-moz-transform: scale(1.05);transform: scale(1.05);}}
@-o-keyframes beats {
    90% {-o-transform: scale(0.90);transform: scale(0.90);}
    100% {-o-transform: scale(1.05);transform: scale(1.05);}}
@keyframes beats {
    90% {-webkit-transform: scale(0.90);-moz-transform: scale(0.90);-o-transform: scale(0.90);transform: scale(0.90);}
    100% {-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-o-transform: scale(1.15);transform: scale(1.05);}}
#lq-track-title {
    color: #eeeeee;
    text-align: center;
    font-size: 1vw;
}
#lq-play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw auto 1vw;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 3vw;
    background-color: #101010;
    text-align: center;
    cursor: pointer;
}
#lq-play-button:hover {
    background-color: #202020;
    transition: all 0.2s;
}
#lq-play-button:active {
    transform: scale(0.9)
}
#lq-play-button .lq-toggle-play {
    color: #eeeeee;
    font-size: 1.5vw;
}
#hq-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #222222 0%, #111111 100%);
    margin-left: 1vw;
    width: 42vw;
    padding: 1vw;
    height: 100%;
    transition: all 0.2s ease-in-out;
}
#hq-container.inactive {
    opacity: 0.25;
    -webkit-box-shadow: 0vw 0vw 0vw 0vw #171717;
    -moz-box-shadow: 0vw 0vw 0vw 0vw #171717;
    box-shadow: 0vw 0vw 0vw 0vw #171717;
}
#hq-container.active {
-webkit-box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
-moz-box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
box-shadow: 0vw 0.1735vw 0.1735vw 0.1735vw #171717;
}
#hq-container:hover{
    opacity: 1;
}
#hq-player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#album-art {
    margin: 0 1vw 1vw 0;
    height: 15vw;
}
#hq-track-info-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
#hq-track-album-title {
    color: #eeeeee;
    font-family: TBR-400;
    margin: 1vw 0 0;
    font-size: 0.75vw;
}
#hq-track-title {
    color: #ffffff;
    font-family: TBR-700;
    font-size: 3vw;
}
#hq-track-artist {
    color: #dddddd;
    font-family: TBR-400;
    font-size: 1.5vw;
}
#hq-info-divider {
    background: #aaaaaa;
    width: 100%;
    height: 0.10vw;
    margin: 1vw 0;
}
#hq-play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 0vw;
    bottom: 1.75vw;
    width: 10vw;
    height: 3.25vw;
    border: 0.25vw solid #222222;
    background: #222222;
    border-radius: 3vw;
    position: absolute;
    cursor: pointer;
    background-position: center;
}
#hq-play-button.boosted {
    border: 0.25vw solid #eeeeee;
    background: #222222;
}
#hq-play-button:hover {
    border: 0.25vw solid #ffffff;
}
#hq-play-button:active {
    transform: translateY(2px);
}
#hq-play-button span {
    font-family: TBR-700;
    font-size: 1.25vw;
    color: #cccccc;
}
#hq-play-button:hover span{
    color: #ffffff;
}
#hq-download-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    right: 0vw;
    bottom: 2vw;
    width: 12vw;
    height: 3vw;
    border: 0.25vw solid #1e1e1e;
    border-radius: 0.25vw;
    background: #1e1e1e;
    position: absolute;
    cursor: pointer;
}
#hq-download-button span {
    color: #bbbbbb;
    font-family: TBR-700;
    font-size: 1.25vw;
}
#hq-download-button:hover {
    background: #333333;
    border: 0.25vw solid #333333;
}
#hq-download-button:hover span {
    color: #eeeeee;
}
#hq-download-button:active {
    transform: translateY(2px);
}
#boosted-version-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3vw;
    font-size: 1vw;
    justify-content: space-between;
}
#bitrate, #trackboosted, #metaready, #filesize {
    background: #111111;
    border-radius: 0.25vw;
    padding: 0.25vw 1.25vw;
    text-align: center;
    font-size: 1.25vw;
    color: #dddddd;
}
#bitrate:hover, #trackboosted:hover, #metaready:hover, #filesize:hover {
    background: #222222;
    color: #eeeeee;
}
#custom-mediaelement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
#custom-mediaelement-rewind, #custom-mediaelement-forward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
    background: #000000;
    color: #f2f2f2;
    font-size: 12px;
    padding-top: 2px;
    cursor: pointer;
}
#custom-mediaelement-rewind {
    text-align: right;
}
#custom-mediaelement-progress {
    pointer-events: none;
    width: 90%;
}
#custom-mediaelement-rewind i:active{
    transform: translateX(-5px);
}
#custom-mediaelement-forward i:active{
    transform: translateX(5px);
}
#track-license-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 3vw;
    width: 93.55%;
    margin: 0.75vw auto;
}
#track-license-statement {
    color: #777777;
    font-size: 1vw;
    width: 20vw;
}
#license-holder {
    color: #cccccc;
    font-size: 1vw;
}
#totm-tags-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #f0f0f0;
    font-family: TBR-400;
    margin: 1.5vw -2vw -2vw;
    padding: 0.5vw 2vw 0.75vw;
    font-size: 1vw;
    background: #131314;
    position: relative;
}
.totm-tags {
    margin-right: 1vw;
    align-self: center;
}
#explicit-content {
    position: absolute;
    padding: 0.25vw 1vw;
    background: #777777;
    color: #ffffff;
    right: 2vw;
}
#more-totm {
    background: #000000;
    margin: 0 2vw 2vw 0;
    border: 0.25vw solid #000000;
    border-radius: 0.2vw;
    width: 9.35vw;
    text-align: center;
    align-self: flex-end;
    text-decoration: none;
    color: #dddddd;
    font-size: 1.5vw;
}
#more-totm:hover {
    background: #111111;
    border: 0.25vw solid #111111;
    color: #ffffff;
}
#more-totm:active {
    transform: translateY(2px);
}